[default]
log_level = "WARNING"

[gcp-production]
platform_url = "https://platform.descarteslabs.com"
grpc_host = "platform.descarteslabs.com"
grpc_port = "443"

iam_url = "https://iam.descarteslabs.com"
catalog_v2_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog/v2"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
catalog_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"
places_url = "@format {this.PLATFORM_URL}/waldo/v2"
annotation_url = "https://annotation-prerelease.descarteslabs.com"
sharing_url = "https://sharing.descarteslabs.com"
storage_url = "@format {this.PLATFORM_URL}/storage/v1"
tasks_url = "@format {this.PLATFORM_URL}/tasks/v1"
vector_url = "@format {this.PLATFORM_URL}/vector/v2"
yaas_url = "@format {this.PLATFORM_URL}/yaas/v1"
currier_host = "@format {this.GRPC_HOST}"
currier_port = "@format {this.GRPC_PORT}"
discover_host = "@format {this.GRPC_HOST}"
discover_port = "@format {this.GRPC_PORT}"
tables_host = "@format {this.GRPC_HOST}"
tables_port = "@format {this.GRPC_PORT}"
workflows_host = "workflows-api.prod.descarteslabs.com"
workflows_port = "443"
workflows_host_http = "workflows.prod.descarteslabs.com"

[gcp-prerelease]
platform_url = "https://platform-prerelease.descarteslabs.com"
grpc_host = "platform-prerelease.descarteslabs.com"
grpc_port = "443"

iam_url = "https://iam-prerelease.descarteslabs.com"
catalog_v2_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog/v2"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
catalog_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"
places_url = "https://platform.descarteslabs.com/waldo/v2"
annotation_url = "https://annotation-prerelease.descarteslabs.com"
sharing_url = "https://sharing.descarteslabs.com"
storage_url = "@format {this.PLATFORM_URL}/storage/v1"
tasks_url = "https://platform.descarteslabs.com/tasks/v2"
vector_url = "@format {this.PLATFORM_URL}/vector/v2"
yaas_url = "@format {this.PLATFORM_URL}/yaas/v1"
currier_host = "@format {this.GRPC_HOST}"
currier_port = "@format {this.GRPC_PORT}"
discover_host = "@format {this.GRPC_HOST}"
discover_port = "@format {this.GRPC_PORT}"
tables_host = "@format {this.GRPC_HOST}"
tables_port = "@format {this.GRPC_PORT}"
workflows_host = "workflows-api.prod.descarteslabs.com"
workflows_port = "443"
workflows_host_http = "workflows.prod.descarteslabs.com"

[gcp-stage]
platform_url = "https://platform.stage.descarteslabs.com"
grpc_host = "platform.stage.descarteslabs.com"
grpc_port = "443"

iam_url = "https://iam.stage.descarteslabs.com"
catalog_v2_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog/v2"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
catalog_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"
places_url = "https://platform.descarteslabs.com/waldo/v2"
annotation_url = "https://annotation-prerelease.descarteslabs.com"
sharing_url = "https://sharing.descarteslabs.com"
storage_url = "@format {this.PLATFORM_URL}/storage/v1"
# actually not sure about the "dev" tasks
tasks_url = "https://platform.descarteslabs.com/tasks/default"
vector_url = "@format {this.PLATFORM_URL}/vector/v2"
yaas_url = "@format {this.PLATFORM_URL}/yaas/v1"
currier_host = "@format {this.GRPC_HOST}"
currier_port = "@format {this.GRPC_PORT}"
discover_host = "@format {this.GRPC_HOST}"
discover_port = "@format {this.GRPC_PORT}"
tables_host = "@format {this.GRPC_HOST}"
tables_port = "@format {this.GRPC_PORT}"
workflows_host = "workflows-api.stage.descarteslabs.com"
workflows_port = "443"
workflows_host_http = "workflows.stage.descarteslabs.com"

[aws-production]
aws_client = true
platform_url = "https://platform.production.aws.descarteslabs.com"

iam_url = "https://iam.production.aws.descarteslabs.com"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"

[aws-staging]
aws_client = true
platform_url = "https://platform.staging.aws.descarteslabs.com"

iam_url = "https://iam.staging.aws.descarteslabs.com"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"

[aws-dev]
aws_client = true
platform_url = "https://platform.dev.aws.descarteslabs.com"

iam_url = "https://iam.dev.aws.descarteslabs.com"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"

# for use in the workflows backend
[gcp-compute-production]
platform_url = "https://platform.descarteslabs.com"

metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
raster_url = "http://ruster.ruster:8000"

workflows_host = "workflows-api.prod.descarteslabs.com"
workflows_port = "443"
workflows_host_http = "workflows.prod.descarteslabs.com"

# for use in the workflows backend
[gcp-compute-stage]
platform_url = "https://platform.descarteslabs.com"

metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
raster_url = "http://ruster.ruster:8000"

workflows_host = "workflows-api.stage.descarteslabs.com"
workflows_port = "443"
workflows_host_http = "workflows.stage.descarteslabs.com"

[testing]
testing = true
platform_url = "https://platform.descarteslabs.com"
grpc_host = "platform.descarteslabs.com"
grpc_port = "443"

iam_url = "https://iam.descarteslabs.com"
catalog_v2_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog/v2"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
catalog_url = "@format {this.PLATFORM_URL}/metadata/v1/catalog"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"
places_url = "@format {this.PLATFORM_URL}/waldo/v2"
annotation_url = "https://annotation-prerelease.descarteslabs.com"
sharing_url = "https://sharing.descarteslabs.com"
storage_url = "@format {this.PLATFORM_URL}/storage/v1"
tasks_url = "@format {this.PLATFORM_URL}/tasks/v1"
vector_url = "@format {this.PLATFORM_URL}/vector/v2"
yaas_url = "@format {this.PLATFORM_URL}/yaas/v1"
currier_host = "@format {this.GRPC_HOST}"
currier_port = "@format {this.GRPC_PORT}"
discover_host = "@format {this.GRPC_HOST}"
discover_port = "@format {this.GRPC_PORT}"
tables_host = "@format {this.GRPC_HOST}"
tables_port = "@format {this.GRPC_PORT}"
workflows_host = "workflows-api.prod.descarteslabs.com"
workflows_port = "443"
workflows_host_http = "workflows.prod.descarteslabs.com"

[aws-testing]
testing = true
aws_client = true
platform_url = "https://platform.dev.aws.descarteslabs.com"

iam_url = "https://iam.dev.aws.descarteslabs.com"
metadata_url = "@format {this.PLATFORM_URL}/metadata/v1"
raster_url = "@format {this.PLATFORM_URL}/raster/v2"

